//- out: gh-pages/.
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title ZooKeep
    link(rel='stylesheet', href='css/site.min.css')
  body
    main
      h1 ZooKeep!
      article#content
    script(type='text/javascript', src='js/contentLoader.js')
