// compileCompressed: gh-pages/css/site.min.css
main
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  h1
    color: #2C95FC
  article#content
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-around
      //justify-content: flex-start
      //align-items: flex-start
      //align-content: flex-start
      section
        flex-direction: column
        position: relative
        flex: 0 1 auto
        div
          width: 25vw
          max-height: 25vh
          overflow: hidden
          box-shadow: 0 0 5px black
          transition: all 300ms
          img
            display: block
            max-width: 100%
            max-height: auto
          &:hover
            overflow: visible
            z-index: 2
            box-shadow: 0 0 10px black
            max-height: 100%
          &:hover + ul
            opacity: 1
            pointer-events: auto


        ul
          pointer-events: none
          opacity: 0
          list-style: none
          padding: 0
          margin: 0
          z-index: 1
          li
            span
              font-weight: bold
